<header class="row">
  <div class="col-6 col-sm-7 offset-1">
    <% @movies.each do |m| %>
      <div class="box">
        <div class="transbox">
          <h3><%= m.moviename %> </h3>
          <% if m.year.is_a?(String) %>
            <h5><%= m.year%>
            </h5>
          <% else %>
            <h5><%= m.year.to_a.select {|x| x[1]}%>
          <% end %>
          <h6>Thoughts: <%= m.thoughts %></h6>

        </div>
      </div>
    <% end %>
  </div>

  <div class="col-4 offset-1 text-left col-sm-3">
  <div class="box2">
      <b> -Collection-</b>
        <% @all.each do |u| %>
          <div class="container">
              <span><%= link_to u.moviename, movie_path(u),class: 'collection'%></span>
          </div>
        <% end %>
    </div>
  </div>


</header>

<%= will_paginate @movies, class:'apple_pagination' %>