<% @movies.each do |m| %>
  <div class=" offset-1 col-9 box">
    <div class="transbox">
      <h2><%= m.movie %> </h2>
      <h5><%=m.month %>
      <%= m.year %>
      </h5>
      <p>Thoughts: <%= m.thoughts %></p>

    </div>
  </div>

<% end %>

<%= will_paginate @movies, class:'apple_pagination' %>