<header class="row">
  <div class="col-7 offset-1">
    <% @movies.each do |m| %>
      <div class="box">
        <div class="transbox">
          <h3><%= m.movie %> </h3>
          <h5><%=m.month %>
          <%= m.year %>
          </h5>
          <p>Thoughts: <%= m.thoughts %></p>

        </div>
      </div>
    <% end %>
  </div>

  <div class="col-3 offset-1 text-left">
  <div class="box2">
      <b> Collection</b>
        <% @unique.each do |u| %>
            <li><%= u %></li>
        <% end %>
    </div>
  </div>


</header>

<%= will_paginate @movies, class:'apple_pagination' %>