<header class="row">
  <div class="offset-1 col-7">
    <% @movies.each do |m| %>
      <div class="box">
        <div class="transbox">
          <h3><%= m.movie %> </h3>
          <h5><%=m.month %>
          <%= m.year %>
          </h5>
          <p>Thoughts: <%= m.thoughts %></p>

        </div>
      </div>
    <% end %>
  </div>

  <div class="col-3 text-center">
  <div class="box2">
      <b> List of movies</b>
        <% @unique.each do |u| %>
          <%= link_to search_path do %>
            <li><%= u %></li>
          <% end %>
        <% end %>
    </div>
  </div>


</header>

<%= will_paginate @movies, class:'apple_pagination' %>